In [25]:

def get_stats_summary():
    historial=driver.find_element_by_xpath("//a[contains(text(), 'Match history')]").get_attribute("href")
    tiempo = driver.find_element_by_xpath("//div[contains(text(), 'Game Time')]").find_element_by_css_selector("h1").text
    parche = driver.find_element_by_xpath("//div[contains(text(), 'Game Time')]").find_element_by_xpath("..").find_elements_by_css_selector("div")[2].text

    equipo_azul = driver.find_element_by_css_selector("div.blue-line-header")
    nombre_azul = equipo_azul.text.split(" - ")[0]
    if 'WIN' in equipo_azul.text.split(" - ")[1]:
        gana_azul = 1
    else: 
        gana_azul = 0
    equipo_rojo = driver.find_element_by_css_selector("div.red-line-header")
    nombre_rojo = equipo_rojo.text.split(" - ")[0]
    if 'WIN' in equipo_rojo.text.split(" - ")[1]:
        gana_rojo = 1
    else: 
        gana_rojo = 0

    asesinatos_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Kills]")
    num_asesinatos_azul=asesinatos_azul.find_element_by_xpath("..").text
    primera_sangre_lista=asesinatos_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='First Blood']")
    if len(primera_sangre_lista) != 0:
        primera_sangre = nombre_azul


    asesinatos_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Kills]")
    num_asesinatos_rojo=asesinatos_rojo.find_element_by_xpath("..").text
    primera_sangre_lista=asesinatos_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='First Blood']")
    if len(primera_sangre_lista) != 0:
        primera_sangre = nombre_rojo

    torres_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Towers]")
    num_torres_azul=torres_azul.find_element_by_xpath("..").text
    primera_torre_lista=torres_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='First Tower']")
    if len(primera_torre_lista) != 0:
        primera_torre = nombre_azul


    torres_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Towers]")
    num_torres_rojo=torres_rojo.find_element_by_xpath("..").text
    primera_torre_lista=torres_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='First Tower']")
    if len(primera_torre_lista) != 0:
        primera_torre = nombre_rojo  

    dragones_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Dragons]")
    num_dragones_azul=dragones_azul.find_element_by_xpath("..").text
    dragones_viento_azul=dragones_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Cloud Drake']")
    num_dragones_viento_azul = len(dragones_viento_azul)
    dragones_infierno_azul=dragones_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Infernal Drake']")
    num_dragones_infierno_azul = len(dragones_infierno_azul)
    dragones_oceano_azul=dragones_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Ocean Drake']")
    num_dragones_oceano_azul = len(dragones_oceano_azul)
    dragones_montaña_azul=dragones_azul.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Mountain Drake']")
    num_dragones_montaña_azul = len(dragones_montaña_azul)

    dragones_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Dragons]")
    num_dragones_rojo=dragones_rojo.find_element_by_xpath("..").text
    dragones_viento_rojo=dragones_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Cloud Drake']")
    num_dragones_viento_rojo = len(dragones_viento_rojo)
    dragones_infierno_rojo=dragones_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Infernal Drake']")
    num_dragones_infierno_rojo = len(dragones_infierno_rojo)
    dragones_oceano_rojo=dragones_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Ocean Drake']")
    num_dragones_oceano_rojo = len(dragones_oceano_rojo)
    dragones_montaña_rojo=dragones_rojo.find_element_by_xpath("../..").find_elements_by_css_selector("img[alt='Mountain Drake']")
    num_dragones_montaña_rojo = len(dragones_montaña_rojo)

    nashors_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Nashor]")
    num_nashors_azul=nashors_azul.find_element_by_xpath("..").text
    nashors_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_css_selector("img[alt=Nashor]")
    num_nashors_rojo=nashors_rojo.find_element_by_xpath("..").text

    oro_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_css_selector("img[alt='Team Gold']")
    num_oro_azul=oro_azul.find_element_by_xpath("..").text
    oro_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_css_selector("img[alt='Team Gold']")
    num_oro_rojo=oro_rojo.find_element_by_xpath("..").text

    baneos_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_xpath(".//div[contains(text(),'Bans')]").find_element_by_xpath("..").find_elements_by_css_selector("a")
    ban1_azul=baneos_azul[0].get_attribute("title").split(" ")[0]
    ban2_azul=baneos_azul[1].get_attribute("title").split(" ")[0]
    ban3_azul=baneos_azul[2].get_attribute("title").split(" ")[0]
    ban4_azul=baneos_azul[3].get_attribute("title").split(" ")[0]
    try:
        ban5_azul=baneos_azul[4].get_attribute("title").split(" ")[0]
    except:
        ban5_azul="no ban"

    baneos_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_xpath(".//div[contains(text(),'Bans')]").find_element_by_xpath("..").find_elements_by_css_selector("a")
    ban1_rojo=baneos_rojo[0].get_attribute("title").split(" ")[0]
    ban2_rojo=baneos_rojo[1].get_attribute("title").split(" ")[0]
    ban3_rojo=baneos_rojo[2].get_attribute("title").split(" ")[0]
    ban4_rojo=baneos_rojo[3].get_attribute("title").split(" ")[0]
    try:
        ban5_rojo=baneos_rojo[4].get_attribute("title").split(" ")[0]
    except:
        ban5_rojo="no ban"

    campeones_azul=equipo_azul.find_element_by_xpath("../..").find_element_by_xpath(".//div[contains(text(),'Picks')]").find_element_by_xpath("..").find_elements_by_css_selector("a")
    pick1_azul=campeones_azul[0].get_attribute("title").replace(" stats", "")
    pick2_azul=campeones_azul[1].get_attribute("title").replace(" stats", "")
    pick3_azul=campeones_azul[2].get_attribute("title").replace(" stats", "")
    pick4_azul=campeones_azul[3].get_attribute("title").replace(" stats", "")
    pick5_azul=campeones_azul[4].get_attribute("title").replace(" stats", "")

    campeones_rojo=equipo_rojo.find_element_by_xpath("../..").find_element_by_xpath(".//div[contains(text(),'Picks')]").find_element_by_xpath("..").find_elements_by_css_selector("a")
    pick1_rojo=campeones_rojo[0].get_attribute("title").replace(" stats", "")
    pick2_rojo=campeones_rojo[1].get_attribute("title").replace(" stats", "")
    pick3_rojo=campeones_rojo[2].get_attribute("title").replace(" stats", "")
    pick4_rojo=campeones_rojo[3].get_attribute("title").replace(" stats", "")
    pick5_rojo=campeones_rojo[4].get_attribute("title").replace(" stats", "")

    jugadores_azul = driver.find_elements_by_css_selector("table.playersInfosLine")[0]
    jugadores_rojo = driver.find_elements_by_css_selector("table.playersInfosLine")[1]

    players_azul=jugadores_azul.find_elements_by_css_selector(".link-blanc")
    top_azul=players_azul[0].text
    jng_azul=players_azul[1].text
    mid_azul=players_azul[2].text
    adc_azul=players_azul[3].text
    sup_azul=players_azul[4].text

    players_rojo=jugadores_rojo.find_elements_by_css_selector(".link-blanc")
    top_rojo=players_rojo[0].text
    jng_rojo=players_rojo[1].text
    mid_rojo=players_rojo[2].text
    adc_rojo=players_rojo[3].text
    sup_rojo=players_rojo[4].text

    kdas_azul = jugadores_azul.find_elements_by_css_selector("td[style='text-align:center']")
    kda_top_azul=kdas_azul[0].text
    kda_jng_azul=kdas_azul[1].text
    kda_mid_azul=kdas_azul[2].text
    kda_adc_azul=kdas_azul[3].text
    kda_sup_azul=kdas_azul[4].text
    kills_top_azul=kda_top_azul.split("/")[0]
    deaths_top_azul=kda_top_azul.split("/")[1]
    assists_top_azul=kda_top_azul.split("/")[2]
    kills_jng_azul=kda_jng_azul.split("/")[0]
    deaths_jng_azul=kda_jng_azul.split("/")[1]
    assists_jng_azul=kda_jng_azul.split("/")[2]
    kills_mid_azul=kda_mid_azul.split("/")[0]
    deaths_mid_azul=kda_mid_azul.split("/")[1]
    assists_mid_azul=kda_mid_azul.split("/")[2]
    kills_adc_azul=kda_adc_azul.split("/")[0]
    deaths_adc_azul=kda_adc_azul.split("/")[1]
    assists_adc_azul=kda_adc_azul.split("/")[2]
    kills_sup_azul=kda_sup_azul.split("/")[0]
    deaths_sup_azul=kda_sup_azul.split("/")[1]
    assists_sup_azul=kda_sup_azul.split("/")[2]

    kdas_rojo = jugadores_rojo.find_elements_by_css_selector("td[style='text-align:center']")
    kda_top_rojo=kdas_rojo[0].text
    kda_jng_rojo=kdas_rojo[1].text
    kda_mid_rojo=kdas_rojo[2].text
    kda_adc_rojo=kdas_rojo[3].text
    kda_sup_rojo=kdas_rojo[4].text
    kills_top_rojo=kda_top_rojo.split("/")[0]
    deaths_top_rojo=kda_top_rojo.split("/")[1]
    assists_top_rojo=kda_top_rojo.split("/")[2]
    kills_jng_rojo=kda_jng_rojo.split("/")[0]
    deaths_jng_rojo=kda_jng_rojo.split("/")[1]
    assists_jng_rojo=kda_jng_rojo.split("/")[2]
    kills_mid_rojo=kda_mid_rojo.split("/")[0]
    deaths_mid_rojo=kda_mid_rojo.split("/")[1]
    assists_mid_rojo=kda_mid_rojo.split("/")[2]
    kills_adc_rojo=kda_adc_rojo.split("/")[0]
    deaths_adc_rojo=kda_adc_rojo.split("/")[1]
    assists_adc_rojo=kda_adc_rojo.split("/")[2]
    kills_sup_rojo=kda_sup_rojo.split("/")[0]
    deaths_sup_rojo=kda_sup_rojo.split("/")[1]
    assists_sup_rojo=kda_sup_rojo.split("/")[2]

    css_azul = jugadores_azul.find_elements_by_css_selector("td[style='text-align:center;']")
    css_top_azul=css_azul[0].text
    css_jng_azul=css_azul[1].text
    css_mid_azul=css_azul[2].text
    css_adc_azul=css_azul[3].text
    css_sup_azul=css_azul[4].text

    css_rojo = jugadores_rojo.find_elements_by_css_selector("td[style='text-align:center;']")
    css_top_rojo=css_rojo[0].text
    css_jng_rojo=css_rojo[1].text
    css_mid_rojo=css_rojo[2].text
    css_adc_rojo=css_rojo[3].text
    css_sup_rojo=css_rojo[4].text


    summoners_azul=jugadores_rojo.find_elements_by_css_selector("img[alt='Summoner spell']")
    summoner_1_top_azul=summoners_azul[0].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_top_azul=summoners_azul[1].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_jng_azul=summoners_azul[2].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_jng_azul=summoners_azul[3].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_mid_azul=summoners_azul[4].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_mid_azul=summoners_azul[5].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_adc_azul=summoners_azul[6].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_adc_azul=summoners_azul[7].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_sup_azul=summoners_azul[8].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_sup_azul=summoners_azul[9].get_attribute("src").split("/Summoner")[1].split(".")[0]

    summoners_rojo=jugadores_rojo.find_elements_by_css_selector("img[alt='Summoner spell']")
    summoner_1_top_rojo=summoners_rojo[0].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_top_rojo=summoners_rojo[1].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_jng_rojo=summoners_rojo[2].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_jng_rojo=summoners_rojo[3].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_mid_rojo=summoners_rojo[4].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_mid_rojo=summoners_rojo[5].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_adc_rojo=summoners_rojo[6].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_adc_rojo=summoners_rojo[7].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_1_sup_rojo=summoners_rojo[8].get_attribute("src").split("/Summoner")[1].split(".")[0]
    summoner_2_sup_rojo=summoners_rojo[9].get_attribute("src").split("/Summoner")[1].split(".")[0]

    import re
    script_vision=driver.find_element_by_xpath("//th[contains(text(),'Vision')]").find_element_by_xpath("../..").find_element_by_css_selector("script")
    labels=re.sub('\s+',' ',script_vision.get_attribute('innerHTML').replace("\n", "").replace("\t","").replace("","")).split("{")[2:4]
    wards_rojo=re.search("\[(\d+).(\d+)", labels[0])
    wards_rojo=wards_rojo.group(0).replace("[","").split(",")
    wards_destroyed_rojo = wards_rojo[0]
    wards_placed_rojo = wards_rojo[1]

    wards_azul=re.search("\[(\d+).(\d+)", labels[1])
    wards_azul=wards_azul.group(0).replace("[","").split(",")
    wards_destroyed_azul = wards_azul[0]
    wards_placed_azul = wards_azul[1]

    script_vision=driver.find_element_by_xpath("//th[contains(text(),'Jungle share')]").find_element_by_xpath("../..").find_element_by_css_selector("script")
    labels=re.sub('\s+',' ',script_vision.get_attribute('innerHTML').replace("\n", "").replace("\t","").replace("","")).split("{")[2:4]
    jng_share_azul=re.search("\[(\d+)(.(\d+))?,(\d+)(.(\d+))?", labels[0])
    jng_share_azul=jng_share_azul.group(0).replace("[","").split(",")
    jng_share_15_azul = jng_share_azul[0]
    jng_share_azul = jng_share_azul[1]

    jng_share_rojo=re.search("\[(\d+)(.(\d+))?,(\d+)(.(\d+))?", labels[1])
    jng_share_rojo=jng_share_rojo.group(0).replace("[","").split(",")
    jng_share_15_rojo = jng_share_rojo[0]
    jng_share_rojo = jng_share_rojo[1]
    
    nombres = ["tiempo", "parche", "nombre_azul", "nombre_rojo", "gana_azul", "gana_rojo", "num_asesinatos_azul", "num_asesinatos_rojo", "primera_sangre", "num_torres_azul", "num_torres_rojo", "primera_torre", "num_dragones_azul"," num_dragones_viento_azul","num_dragones_infierno_azul", "num_dragones_oceano_azul", "num_dragones_montaña_azul", "num_dragones_rojo", "num_dragones_viento_rojo","num_dragones_infierno_rojo", "num_dragones_oceano_rojo", "num_dragones_montaña_rojo","num_nashors_azul", "num_nashors_rojo", "num_oro_azul", "num_oro_rojo","ban1_azul","ban2_azul","ban3_azul","ban4_azul","ban5_azul","ban1_rojo","ban2_rojo","ban3_rojo","ban4_rojo","ban5_rojo","pick1_azul","pick2_azul","pick3_azul","pick4_azul","pick5_azul","pick1_rojo","pick2_rojo","pick3_rojo","pick4_rojo","pick5_rojo", "top_azul", "jng_azul", "mid_azul", "adc_azul", "sup_azul", "top_rojo", "jng_rojo", "mid_rojo", "adc_rojo", "sup_rojo", "kills_top_azul", "deaths_top_azul", "assists_top_azul", "kills_jng_azul", "deaths_jng_azul"," assists_jng_azul", "kills_mid_azul", "deaths_mid_azul", "assists_mid_azul", "kills_adc_azul", "deaths_adc_azul", "assists_adc_azul", "kills_sup_azul", "deaths_sup_azul", "assists_sup_azul" ,"kills_top_rojo", "deaths_top_rojo", "assists_top_rojo", "kills_jng_rojo", "deaths_jng_rojo", "assists_jng_rojo", "kills_mid_rojo", "deaths_mid_rojo", "assists_mid_rojo", "kills_adc_rojo", "deaths_adc_rojo", "assists_adc_rojo", "kills_sup_rojo", "deaths_sup_rojo", "assists_sup_rojo", "summoner_1_top_azul", "summoner_2_top_azul", "summoner_1_jng_azul", "summoner_2_jng_azul", "summoner_1_mid_azul", "summoner_2_mid_azul", "summoner_1_adc_azul", "summoner_2_adc_azul", "summoner_1_sup_azul", "summoner_2_sup_azul", "summoner_1_top_rojo", "summoner_2_top_rojo", "summoner_1_jng_rojo", "summoner_2_jng_rojo", "summoner_1_mid_rojo", "summoner_2_mid_rojo", "summoner_1_adc_rojo", "summoner_2_adc_rojo", "summoner_1_sup_rojo", "summoner_2_sup_rojo", "css_top_azul", "css_jng_azul", "css_mid_azul", "css_adc_azul", "css_sup_azul", "css_top_rojo","css_jng_rojo", "css_mid_rojo", "css_adc_rojo", "css_sup_rojo", "wards_destroyed_azul", "wards_destroyed_rojo", "wards_placed_azul", "wards_placed_rojo","jng_share_15_azul","jng_share_15_rojo", "jng_share_azul", "jng_share_rojo"]
    atributos = [[tiempo, parche, nombre_azul, nombre_rojo, gana_azul, gana_rojo, num_asesinatos_azul, num_asesinatos_rojo, primera_sangre, num_torres_azul, num_torres_rojo, primera_torre, num_dragones_azul, num_dragones_viento_azul,num_dragones_infierno_azul, num_dragones_oceano_azul, num_dragones_montaña_azul, num_dragones_rojo, num_dragones_viento_rojo,num_dragones_infierno_rojo, num_dragones_oceano_rojo, num_dragones_montaña_rojo,num_nashors_azul, num_nashors_rojo, num_oro_azul, num_oro_rojo,ban1_azul,ban2_azul,ban3_azul,ban4_azul,ban5_azul,ban1_rojo,ban2_rojo,ban3_rojo,ban4_rojo,ban5_rojo,pick1_azul,pick2_azul,pick3_azul,pick4_azul,pick5_azul,pick1_rojo,pick2_rojo,pick3_rojo,pick4_rojo,pick5_rojo, top_azul, jng_azul, mid_azul, adc_azul, sup_azul, top_rojo, jng_rojo, mid_rojo, adc_rojo, sup_rojo, kills_top_azul, deaths_top_azul, assists_top_azul, kills_jng_azul, deaths_jng_azul, assists_jng_azul, kills_mid_azul, deaths_mid_azul, assists_mid_azul, kills_adc_azul, deaths_adc_azul, assists_adc_azul, kills_sup_azul, deaths_sup_azul, assists_sup_azul ,kills_top_rojo, deaths_top_rojo, assists_top_rojo, kills_jng_rojo, deaths_jng_rojo, assists_jng_rojo, kills_mid_rojo, deaths_mid_rojo, assists_mid_rojo, kills_adc_rojo, deaths_adc_rojo, assists_adc_rojo, kills_sup_rojo, deaths_sup_rojo, assists_sup_rojo, summoner_1_top_azul, summoner_2_top_azul, summoner_1_jng_azul, summoner_2_jng_azul, summoner_1_mid_azul, summoner_2_mid_azul, summoner_1_adc_azul, summoner_2_adc_azul, summoner_1_sup_azul, summoner_2_sup_azul, summoner_1_top_rojo, summoner_2_top_rojo, summoner_1_jng_rojo, summoner_2_jng_rojo, summoner_1_mid_rojo, summoner_2_mid_rojo, summoner_1_adc_rojo, summoner_2_adc_rojo, summoner_1_sup_rojo, summoner_2_sup_rojo, css_top_azul, css_jng_azul, css_mid_azul, css_adc_azul, css_sup_azul, css_top_rojo, css_jng_rojo, css_mid_rojo, css_adc_rojo, css_sup_rojo, wards_destroyed_azul, wards_destroyed_rojo, wards_placed_azul, wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo, jng_share_azul, jng_share_rojo]]
    results = pd.DataFrame(atributos, columns=nombres)
    return results




def get_stat(var,name):
    table_stats = driver.find_element_by_css_selector(".completestats")
    var_top_azul = table_stats.find_element_by_xpath(".//td[contains(text(),'"+str(var)+"')]/following-sibling::td")
    var_jng_azul = var_top_azul.find_element_by_xpath(".//following-sibling::td")
    var_mid_azul = var_jng_azul.find_element_by_xpath(".//following-sibling::td")
    var_adc_azul = var_mid_azul.find_element_by_xpath(".//following-sibling::td")
    var_sup_azul = var_adc_azul.find_element_by_xpath(".//following-sibling::td")
    var_top_rojo = var_sup_azul.find_element_by_xpath(".//following-sibling::td")
    var_jng_rojo = var_top_rojo.find_element_by_xpath(".//following-sibling::td")
    var_mid_rojo = var_jng_rojo.find_element_by_xpath(".//following-sibling::td")
    var_adc_rojo = var_mid_rojo.find_element_by_xpath(".//following-sibling::td")
    var_sup_rojo = var_adc_rojo.find_element_by_xpath(".//following-sibling::td")
    var_top_azul = var_top_azul.text
    var_jng_azul = var_jng_azul.text
    var_mid_azul = var_mid_azul.text
    var_adc_azul = var_adc_azul.text
    var_sup_azul = var_sup_azul.text
    var_top_rojo = var_top_rojo.text
    var_jng_rojo = var_jng_rojo.text
    var_mid_rojo = var_mid_rojo.text
    var_adc_rojo = var_adc_rojo.text
    var_sup_rojo = var_sup_rojo.text
    positions = ['top', 'jng', 'mid','adc','sup']
    teams = ['azul','rojo']
    nombres = []
    for team in teams:
        for pos in positions:
            nombres.append(name+"_"+team+"_"+pos)
    atributos = [[var_top_azul, var_jng_azul, var_mid_azul, var_adc_azul, var_sup_azul,var_top_rojo, var_jng_rojo, var_mid_rojo, var_adc_rojo,var_sup_rojo]]
    results = pd.DataFrame(atributos, columns=nombres)
    return results

def get_tournaments():
    links = driver.find_element_by_link_text('Quick Access').find_element_by_xpath('..').find_elements_by_css_selector('a.nav-link')
    tournaments = {}
    for child in links:
        tournaments[child.get_attribute('text')] = child.get_attribute("href")
    return tournaments  

def get_tournament_parts():
    links = driver.find_element_by_css_selector('#gameMenuToggler').find_elements_by_css_selector('a.nav-link')
    parts = {}
    for child in links:
        parts[child.get_attribute('text').upper()] = child.get_attribute('text')
    return parts  

def get_stats():
    print("AHORA SACO ESTADISTICAS DEL GAME")

def get_partidos():
    partidos=h1.find_element_by_xpath('..').find_element_by_css_selector('tbody').find_elements_by_css_selector("tr")
    matches = []
    for match in partidos:
        matches.append([match.find_elements_by_css_selector('td')[0].text, match.find_elements_by_css_selector('td')[5].text])
    return matches  

def get_stats_table():
    dfs=[get_stat("CS in Team", "cs_in_jung_team"),get_stat("CS in Enemy", "cs_in_jung_enemy"),get_stat("CSM","CSM"),get_stat("Golds","Golds"), get_stat("GPM","GPM"), get_stat("GOLD","GOLD"),
    get_stat("Vision Score", "Vision_Score"), get_stat("Wards placed", "Wards_placed"), get_stat("Wards destroyed","Wards_destroyed"),get_stat("Control Wards", "Control_Wards"),
    get_stat("Total damage to", "Total_damage"), get_stat("Physical Damage", "Physical_Damage"), get_stat("Magic Damage", "Magic_Damage"), get_stat("True Damage","True_Damage"), get_stat("DPM", "DPM"),
    get_stat("DMG","DMG"), get_stat("Solo kills","Solo_kills"), get_stat("to turrets","Damage_towers"),get_stat("heal","heal"),get_stat("ccing","ccing"),get_stat("damage taken", "damage_taken")]
    df_final = reduce(lambda left,right: pd.merge(left,right, left_index=True, right_index=True), dfs)

    return(df_final)

0    no ban
Name: ban5_azul, dtype: object

In [26]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
from functools import reduce
import pandas as pd
import numpy as np


import time

driver = webdriver.Chrome(ChromeDriverManager().install())

web="https://gol.gg"
subdomain="/esports/home/"

driver.maximize_window()
driver.get(web+subdomain)
try:
    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, 'table_list ')))
except TimeoutException:
    print('Page timed out after 10 secs.')

torneos = get_tournaments()
torneos_importantes = ["WORLDS"]

for torneo, url in torneos.items():
    if torneo in torneos_importantes:
        elemento_torneo=driver.find_element_by_link_text(torneo)
        elemento_torneo.click()
        print("Intento entrar en: "+ url)
        WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.XPATH, "//th[contains(text(),'Tournament data')]")))
        print("He entrado en "+ driver.current_url)
        
        parts = get_tournament_parts()
        for part, part_low in parts.items():
            print(part)
            part_torneo=driver.find_element_by_link_text(part)
            part_torneo.click()
            
            print("Intento entrar en: "+ part_low)
            WebDriverWait(driver, 30).until(EC.title_contains(part_low))
            print("He entrado en "+ driver.current_url)
            time.sleep(3)
            headers1 = driver.find_elements_by_css_selector('h1')
        
            print(headers1)
            for h1 in headers1:
                if (h1.text == 'Last games'):
                    partidos=h1.find_element_by_xpath('..').find_element_by_css_selector('tbody').find_elements_by_css_selector("tr")
                    partidos = get_partidos()

                    for equipos,fecha in partidos:
                        partidosdia = driver.find_elements_by_xpath("//td[contains(text(), '"+str(fecha)+"')]")
                        for partido in partidosdia:
                            partido = partido.find_element_by_xpath('..')
                            if(equipos in partido.text):
                                break
                        url_atras = driver.current_url
                        ref_partido = partido.find_element_by_css_selector('[href]').get_attribute("href")
                        print(equipos,fecha,ref_partido)

                        if 'preview' in ref_partido:
                            print("Partido no jugado todavía")
                        elif 'summary' in ref_partido: 
                            # Ir a los partidos
                            print("summary")
                            partido.find_element_by_css_selector('[href]').click()
                            WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.ID , "gameMenuToggler")))
                            #CONVERTIR EN GET GAMES
                            games=driver.find_elements_by_xpath("//a[contains(text(), 'Game')]")
                            print(games)
                            for i in range(1,len(games)+1):
                                game =driver.find_element_by_xpath("//a[contains(text(), 'Game "+str(i)+"')]")
                                print(game.text)
                                game.click()
                                WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CSS_SELECTOR , "a[title='Riot Match History']")))
                                get_stats()
                                display(get_stats_summary())
                                # cambia pestaña 
                                driver.find_element_by_xpath("//a[contains(text(),'All stats')]").click()
                                WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CLASS_NAME , 'completestats')))
                                display(get_stats_table())
                            driver.get(url_atras)
                            WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CLASS_NAME , 'footable-loaded')))


                        else:
                            print("partido")
                            # espera a que cargue
                            partido.find_element_by_css_selector('[href]').click()
                            WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CSS_SELECTOR , "a[title='Riot Match History']")))
                            get_stats()
                            display(get_stats_summary())
                            driver.find_element_by_xpath("//a[contains(text(),'All stats')]").click()
                            WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CLASS_NAME , 'completestats')))
                            display(get_stats_table())    
                            driver.get(url_atras)
                            WebDriverWait(driver, 30).until(EC.presence_of_element_located((By.CLASS_NAME , 'footable-loaded')))
               
        break
        driver.get(web+subdomain)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [C:\Users\48784566-W\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

Intento entrar en: https://gol.gg/tournament/tournament-stats/World%20Championship%202020/
He entrado en https://gol.gg/tournament/tournament-stats/World%20Championship%202020/
WORLD CHAMPIONSHIP PLAY-IN 2020
Intento entrar en: World Championship Play-In 2020
He entrado en https://gol.gg/tournament/tournament-stats/World%20Championship%20Play-In%202020/
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="e17c1bab-c543-461e-ad22-475cd97301a1")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="1a733db0-4378-4c4f-92f1-463fe8bc93db")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="32a0186a-9414-4b4b-b74f-332e63b014db")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="d229fb4f-2e54-4e0a-a43b-812096b155a5")>]
UOL vs SUP 2020-09-30 https://gol.gg/game/stats/27035/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="2ad76f29-41f6-4eaa-a74b-d94385363e8a")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="8c239fb9-869c-490e-b089-00fcadd4d889")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="548bc5d8-3001-4acf-84a5-85fb89c1be34")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:38,v10.19,Unicorns Of Love,Papara SuperMassive,1,0,21,12,Papara SuperMassive,11,...,244,40,50,30,98,95,47.9,52.1,59.5,40.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,103,16,20,0,1,117,0,13,0,...,26412,28774,10998,14483,16672,19631,24586,19709,17607,14243

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:55,v10.19,Papara SuperMassive,Unicorns Of Love,0,1,11,24,Unicorns Of Love,0,...,253,31,29,49,101,97,59.5,40.5,49.7,50.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,121,17,4,0,0,99,28,12,0,...,25362,27339,15511,15830,17465,26510,23379,25980,10402,14232

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:41,v10.19,Unicorns Of Love,Papara SuperMassive,1,0,17,10,Unicorns Of Love,9,...,286,36,38,38,111,76,55.5,44.6,52.5,47.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,136,4,11,0,0,139,0,12,0,...,17755,23883,15836,8963,17124,22711,27133,24087,14004,15492

LGC vs LGD Gaming 2020-09-30 https://gol.gg/game/stats/27030/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="5d506848-0c80-4740-9a59-0435f88af8cc")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="d0f6b5a5-8f8a-4447-a0a0-409918cbc433")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="6339768b-db44-44d0-b435-6a2ad772ecc7")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:57,v10.19,Legacy eSports,LGD Gaming,0,1,3,9,LGD Gaming,1,...,279,33,34,48,91,72,55.2,44.8,49.8,50.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,136,0,6,0,14,91,12,13,0,...,13775,19223,13064,8887,7919,23172,16511,11321,6122,8379

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,37:43,v10.19,Legacy eSports,LGD Gaming,0,1,18,17,LGD Gaming,7,...,322,33,38,78,127,95,44.7,55.3,44.3,55.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,115,13,16,0,4,120,19,35,0,...,31462,31755,24603,21731,21036,33524,29972,33257,17592,18681

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,24:55,v10.19,Legacy eSports,LGD Gaming,0,1,4,14,Legacy eSports,3,...,239,28,27,32,72,65,47.4,52.6,48.7,51.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,105,9,3,0,5,91,11,11,0,...,16898,19705,13252,12667,6564,15024,13392,8809,8009,7118

SUP vs MAD Lions 2020-09-29 https://gol.gg/game/stats/27015/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="cf93eed1-207e-4fe8-9a7e-4212ebd06c5a")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="0d35acbf-617f-42a0-b11f-ab7abe9cb1b1")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="5b9de35e-87be-4c05-909b-97bbbdbe717b")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="531e4b9e-b0b9-4146-a3ee-f68fa40b1d2a")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="be30611c-ca22-46ca-a9d7-5258237b5b33")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:36,v10.19,Papara SuperMassive,MAD Lions,1,0,22,14,Papara SuperMassive,7,...,279,37,35,40,111,101,60,40,49.6,50.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,2,172,4,16,0,3,101,51,27,0,...,25820,37008,20619,15452,17153,26535,31511,14278,24122,17629

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:18,v10.19,MAD Lions,Papara SuperMassive,1,0,14,9,MAD Lions,10,...,234,42,43,34,101,82,48.8,51.2,48.6,51.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,100,19,4,0,3,126,11,11,0,...,19676,27019,16428,9508,13339,24131,24908,12887,10213,15536

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:59,v10.19,Papara SuperMassive,MAD Lions,1,0,21,8,MAD Lions,8,...,243,30,33,43,102,97,53.2,46.8,53.6,46.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,2,126,17,17,0,10,117,18,0,1,...,30308,27906,14901,11785,10750,26556,16766,17317,15957,15327

GAME 4
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:09,v10.19,MAD Lions,Papara SuperMassive,1,0,13,7,Papara SuperMassive,8,...,283,38,50,47,97,94,52.6,47.4,51.5,48.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,103,40,2,0,0,124,5,8,0,...,20597,16696,15402,7250,11921,26442,24283,22834,9747,12703

GAME 5
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:39,v10.19,Papara SuperMassive,MAD Lions,1,0,19,8,Papara SuperMassive,9,...,232,33,36,33,85,91,54.2,45.9,47.8,52.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,119,5,19,0,1,131,29,0,0,...,18937,26079,20462,11229,11504,30764,20654,15620,14162,14092

Rainbow7 vs LGD Gaming 2020-09-29 https://gol.gg/game/stats/27010/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="5ec8147e-0b54-4d8d-87d3-879462de5fbe")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="5496ca99-ecc5-4f1d-809b-be86b184fa80")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="7bfe5f12-38ad-4ef2-a86a-465fd12df544")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:50,v10.19,Rainbow7,LGD Gaming,0,1,4,14,LGD Gaming,1,...,304,38,46,43,98,94,49.3,50.8,41.8,58.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,100,8,8,0,16,68,21,21,0,...,15739,13391,18294,8872,8708,16844,19625,15457,12291,8197

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:50,v10.19,Rainbow7,LGD Gaming,0,1,3,12,LGD Gaming,2,...,294,31,42,60,93,98,44.5,55.5,44.1,55.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,8,113,21,0,0,13,111,17,12,0,...,19174,15122,12920,9645,12075,17432,22852,8078,8615,7924

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:39,v10.19,LGD Gaming,Rainbow7,1,0,19,10,LGD Gaming,11,...,250,33,53,54,116,92,48.1,51.9,54.1,45.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,79,25,25,0,14,96,17,8,0,...,25055,26623,14040,11305,11484,19752,23032,13990,27852,14465

LGC vs Team Liquid 2020-09-28 https://gol.gg/game/stats/27009/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,20:25,v10.19,Team Liquid,Legacy eSports,1,0,19,3,Team Liquid,7,...,150,24,18,12,47,45,53.5,46.5,52.7,47.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,60,8,8,0,0,82,0,4,0,...,11499,12515,4782,6211,7140,11492,17552,11394,11008,8781

ITZ vs MAD Lions 2020-09-28 https://gol.gg/game/stats/27008/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,37:45,v10.19,MAD Lions,INTZ e-Sports,1,0,14,7,INTZ e-Sports,8,...,257,52,53,60,136,131,49.5,50.5,54.2,45.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,8,140,36,14,0,13,117,43,0,0,...,23776,25879,12090,14468,12385,29400,37999,11130,13132,26523

LGC vs SUP 2020-09-28 https://gol.gg/game/stats/26999/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:40,v10.19,Legacy eSports,Papara SuperMassive,1,0,27,9,Papara SuperMassive,8,...,224,33,37,28,86,98,52.5,47.5,53.6,46.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,93,4,8,8,1,95,4,16,0,...,18418,25356,23744,13052,10102,22776,21465,11533,15479,17634

ITZ vs Team Liquid 2020-09-28 https://gol.gg/game/stats/26998/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:18,v10.19,INTZ e-Sports,Team Liquid,1,0,13,6,INTZ e-Sports,11,...,330,33,62,50,122,131,41.5,58.5,50.3,49.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,16,116,29,4,0,8,121,19,16,0,...,26153,29447,11199,13195,13004,26557,25794,11274,12410,8876

MAD Lions vs LGC 2020-09-28 https://gol.gg/game/stats/26997/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,38:09,v10.19,MAD Lions,Legacy eSports,0,1,13,25,MAD Lions,2,...,338,32,55,44,118,126,51.7,48.3,48.9,51.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,147,33,6,0,4,143,13,21,0,...,27366,35180,19361,19955,19592,41850,23836,21886,18614,23802

SUP vs Team Liquid 2020-09-28 https://gol.gg/game/stats/26996/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:18,v10.19,Papara SuperMassive,Team Liquid,0,1,8,20,Papara SuperMassive,1,...,259,37,29,43,84,80,47.1,52.9,49.5,50.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,125,5,16,0,0,109,16,16,0,...,15538,23525,17782,10206,10870,16344,16951,20409,5626,7231

LGD Gaming vs V3 Esports 2020-09-27 https://gol.gg/game/stats/27007/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:25,v10.19,LGD Gaming,V3 Esports,1,0,20,8,LGD Gaming,11,...,346,42,64,52,109,125,55.7,44.3,56.4,43.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,107,25,23,0,4,95,1,44,0,...,23396,19863,11508,8602,12491,19358,17850,26404,15296,15827

PSG Talon vs UOL 2020-09-27 https://gol.gg/game/stats/27006/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:31,v10.19,Unicorns Of Love,PSG Talon,0,1,5,13,Unicorns Of Love,6,...,224,52,60,81,140,123,49,51,54.1,45.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,111,29,26,0,12,121,23,8,0,...,29022,30354,11830,13403,9023,23805,26472,7321,12801,9452

UOL vs LGD Gaming 2020-09-27 https://gol.gg/game/stats/26995/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:42,v10.19,Unicorns Of Love,LGD Gaming,1,0,24,12,LGD Gaming,11,...,289,40,62,39,86,127,50,50,53.3,46.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,95,18,20,0,0,100,15,13,0,...,20341,27717,13073,18077,14117,30362,27400,28754,13700,16518

PSG Talon vs V3 Esports 2020-09-27 https://gol.gg/game/stats/26994/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,27:41,v10.19,PSG Talon,V3 Esports,1,0,25,8,PSG Talon,8,...,212,33,39,28,76,79,55.6,44.4,53.8,46.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,84,20,4,0,0,96,1,13,0,...,22906,24441,6398,9845,8453,24732,34296,19710,16327,13235

Rainbow7 vs UOL 2020-09-27 https://gol.gg/game/stats/26993/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,27:36,v10.19,Rainbow7,Unicorns Of Love,1,0,25,4,Rainbow7,9,...,193,30,41,32,80,97,54.9,45.1,61.6,38.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,91,16,4,0,4,73,18,0,0,...,14708,17688,11768,13119,12264,14786,23369,17443,13147,15217

V3 Esports vs LGD Gaming 2020-09-27 https://gol.gg/game/stats/26992/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:33,v10.19,V3 Esports,LGD Gaming,0,1,9,19,LGD Gaming,1,...,329,48,61,68,116,162,50.3,49.8,41.8,58.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,119,4,14,0,5,114,18,23,0,...,41163,32934,15713,17989,18279,36728,32783,14880,11717,19004

Team Liquid vs LGC 2020-09-26 https://gol.gg/game/stats/26991/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:33,v10.19,Team Liquid,Legacy eSports,1,0,16,1,Team Liquid,11,...,293,30,38,27,73,81,53.1,46.9,58.5,41.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,74,8,12,0,0,70,11,4,0,...,15616,16633,11877,9313,4485,22765,18477,17376,6573,7034

SUP vs MAD Lions 2020-09-26 https://gol.gg/game/stats/26990/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:02,v10.19,Papara SuperMassive,MAD Lions,1,0,18,5,Papara SuperMassive,10,...,250,35,41,46,108,88,47.3,52.7,51.3,48.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,8,102,8,4,0,5,110,6,0,1,...,17306,22334,11466,7103,14123,13410,29208,16685,10296,6550

UOL vs PSG Talon 2020-09-26 https://gol.gg/game/stats/26989/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:52,v10.19,Unicorns Of Love,PSG Talon,1,0,13,13,Unicorns Of Love,11,...,286,25,49,47,100,105,51.7,48.3,48.4,51.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,101,25,4,0,4,127,8,9,0,...,26784,34707,14452,21356,12791,28344,34743,27043,11855,18691

LGD Gaming vs Rainbow7 2020-09-26 https://gol.gg/game/stats/26988/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,39:48,v10.19,LGD Gaming,Rainbow7,0,1,13,20,LGD Gaming,4,...,341,50,100,91,172,180,37.5,62.5,50,50

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,93,28,54,0,0,131,22,27,0,...,33572,33953,23398,20155,9770,33328,29773,13597,21723,12829

V3 Esports vs UOL 2020-09-26 https://gol.gg/game/stats/26987/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:31,v10.19,V3 Esports,Unicorns Of Love,0,1,10,30,Unicorns Of Love,2,...,249,38,24,38,78,72,53.3,46.7,41.7,58.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,96,5,4,0,0,93,12,8,0,...,30999,23063,22605,13518,15829,20313,18593,28186,11423,11640

ITZ vs SUP 2020-09-26 https://gol.gg/game/stats/26986/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:47,v10.19,INTZ e-Sports,Papara SuperMassive,0,1,2,16,Papara SuperMassive,2,...,271,41,42,57,119,99,50.5,49.6,47.6,52.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,143,8,10,0,6,151,4,4,0,...,20773,23244,17803,8863,11810,12072,35059,8355,5462,6322

Rainbow7 vs V3 Esports 2020-09-26 https://gol.gg/game/stats/26985/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,35:02,v10.19,Rainbow7,V3 Esports,0,1,6,16,V3 Esports,3,...,375,52,67,79,145,133,53.8,46.2,52.2,47.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,140,13,22,0,8,90,9,36,0,...,32338,25005,13554,18996,14459,24725,19761,9896,13088,19186

Team Liquid vs MAD Lions 2020-09-25 https://gol.gg/game/stats/26979/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:30,v10.19,Team Liquid,MAD Lions,1,0,22,10,MAD Lions,9,...,256,36,40,35,100,109,43.4,56.7,45.9,54.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,103,24,25,0,24,121,12,16,0,...,16190,22717,15892,17676,11084,21435,22386,10284,15065,16564

LGD Gaming vs PSG Talon 2020-09-25 https://gol.gg/game/stats/26978/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,35:33,v10.19,LGD Gaming,PSG Talon,0,1,2,16,LGD Gaming,5,...,263,46,53,69,118,126,48.1,51.9,49.6,50.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,120,20,27,0,0,138,28,16,0,...,23996,29448,13876,11229,12750,24911,22717,11040,13574,12144

LGC vs ITZ 2020-09-25 https://gol.gg/game/stats/26977/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,40:48,v10.19,Legacy eSports,INTZ e-Sports,1,0,17,17,Legacy eSports,11,...,295,70,83,53,135,159,51.5,48.5,57.9,42.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,172,0,26,0,30,108,16,12,0,...,35662,31273,44700,26072,21437,32148,39870,12626,18871,13973

PSG Talon vs Rainbow7 2020-09-25 https://gol.gg/game/stats/26976/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:56,v10.19,PSG Talon,Rainbow7,1,0,27,8,PSG Talon,9,...,256,45,57,30,84,104,46.8,53.2,53.9,46.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,16,133,0,4,0,13,127,12,5,0,...,24979,29924,26958,13113,13468,18500,30631,12525,14322,15862

MAD Lions vs ITZ 2020-09-25 https://gol.gg/game/stats/26975/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:44,v10.19,MAD Lions,INTZ e-Sports,1,0,18,14,MAD Lions,9,...,272,44,57,68,159,134,51.5,48.5,56.4,43.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,18,119,25,20,0,37,100,4,19,0,...,19446,24597,19617,9289,19531,16727,24695,18698,13593,22047

WORLD CHAMPIONSHIP 2020
Intento entrar en: World Championship 2020
He entrado en https://gol.gg/tournament/tournament-stats/World%20Championship%202020/
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="7eb3e301-cf03-4f44-a962-5696a73b22f9")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="966dd30b-9c87-4a4b-ab23-bdf8184c357b")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="29c1d976-0d49-4245-a499-1f96ee9df2fe")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="55039542-b844-499f-a9e9-9ba2fb2eda87")>]
Suning vs DWG 2020-10-31 https://gol.gg/game/stats/27191/page-preview/
Partido no jugado todavía
Top Esports vs Suning 2020-10-25 https://gol.gg/game/stats/27130/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="25b352c3-961a-43ce-b4cb-fd48a8c67fbe")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="3388cc39-ae8e-4d35-9c1a-026f2b1aba59")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="7f41cfe7-6574-4b3a-94b7-a8afc17fe0b1")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="d71ddd43-83b3-4515-92c6-05de4c6de0fc")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:40,v10.19,Top Esports,Suning,0,1,7,11,Suning,3,...,266,33,72,58,123,125,51.7,48.3,48.8,51.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,13,97,29,9,0,13,102,20,20,0,...,12028,23957,9137,12228,9964,15715,23448,7963,12851,6213

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:54,v10.19,Suning,Top Esports,0,1,7,12,Suning,3,...,307,43,57,86,167,117,56.4,43.6,51.1,48.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,148,12,12,0,12,108,25,21,0,...,22521,29775,19184,14028,16583,17796,26976,11692,12566,11783

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,39:41,v10.19,Top Esports,Suning,0,1,7,13,Suning,3,...,417,63,91,95,194,174,43.8,56.2,44.8,55.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,11,128,14,24,0,23,119,27,24,0,...,30494,28924,23701,13904,13030,24946,19463,11502,22325,13966

GAME 4
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,42:11,v10.19,Suning,Top Esports,1,0,21,18,Suning,11,...,408,35,96,82,160,171,49.8,50.2,46.8,53.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,17,73,10,45,0,11,129,29,19,0,...,36415,51632,28953,28769,22824,40588,28199,20276,26856,28592

G2 Esports vs DWG 2020-10-24 https://gol.gg/game/stats/27125/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="74abb3fc-4f7f-4d85-aec9-07c5405307b1")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="da4c7851-8e39-4ee0-95a7-f892e447c63e")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="9f0e9e6b-712b-4434-91a2-8a0dfff52fda")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="809f3197-b4ae-4cef-875a-c82c89f9f968")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:32,v10.19,G2 Esports,DAMWON Gaming,0,1,6,22,G2 Esports,2,...,271,45,38,50,98,85,48.1,51.9,49.2,50.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,101,20,15,0,8,130,0,8,0,...,26767,22579,21333,11926,10071,12475,32794,9472,6300,10530

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:31,v10.19,DAMWON Gaming,G2 Esports,0,1,8,25,G2 Esports,4,...,299,41,46,43,101,100,49.2,50.8,49.2,50.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,12,117,16,20,0,4,112,36,12,0,...,31729,19379,26371,18227,18852,27865,22814,24171,16478,15024

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:50,v10.19,G2 Esports,DAMWON Gaming,0,1,10,22,G2 Esports,2,...,256,46,42,58,119,99,45,55,53,47

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,126,12,14,0,4,101,16,6,0,...,39450,24131,26002,16119,19773,8849,19253,12592,15319,16274

GAME 4
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,19:03,v10.19,DAMWON Gaming,G2 Esports,1,0,15,2,DAMWON Gaming,7,...,156,25,24,23,55,51,54.4,45.6,50.3,49.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,62,14,4,0,0,79,8,0,0,...,9922,14632,8219,6629,8362,11887,12103,9997,6915,8518

GEN vs G2 Esports 2020-10-18 https://gol.gg/game/stats/27117/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="7d466142-eedc-4c9c-be2d-cabe2d2df801")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="b5f17b1d-49d7-4167-b22d-bc5805d2a773")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="5771a9eb-78ea-46bd-b32a-7d6b20497351")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:04,v10.19,Gen.G eSports,G2 Esports,0,1,4,19,Gen.G eSports,4,...,274,56,61,76,136,146,44.6,55.5,37.2,62.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,99,12,0,0,0,127,24,16,0,...,20677,26000,10007,10191,8228,14971,21555,15168,14987,9450

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:03,v10.19,Gen.G eSports,G2 Esports,0,1,11,28,Gen.G eSports,3,...,294,30,39,44,100,102,51.4,48.6,45.5,54.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,105,0,4,0,7,91,9,12,0,...,27818,22179,15892,13141,15903,23038,26237,24035,15489,16920

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:15,v10.19,G2 Esports,Gen.G eSports,1,0,23,14,G2 Esports,7,...,281,30,42,58,123,112,54.1,45.9,66.2,33.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,106,27,24,0,3,79,2,14,0,...,26415,19384,33641,18016,16349,32138,30202,21642,15657,21252

Top Esports vs Fnatic 2020-10-17 https://gol.gg/game/stats/27107/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="e2cc7b6c-3a8c-427f-8931-879a8bac710d")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="c94b08f4-4102-4861-9a46-ddd147a2202d")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="77540151-39b2-4871-b39d-9e576eeb1e60")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="427421e4-705e-4cab-a0a5-371dce0ef334")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="7ff4b6ea-e30d-4a99-a172-82d65c4a29c7")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:42,v10.19,Top Esports,Fnatic,0,1,5,15,Fnatic,3,...,295,44,70,40,97,125,48.6,51.4,49.1,50.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,108,20,22,0,3,132,0,8,0,...,22928,17672,9977,14448,11737,26004,25244,18101,12063,9719

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:06,v10.19,Top Esports,Fnatic,0,1,6,17,Fnatic,3,...,356,29,58,84,153,115,54.9,45.1,46.3,53.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,17,100,18,12,0,1,108,22,16,0,...,20241,36658,25733,16047,23165,29142,21302,13515,15822,21907

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:44,v10.19,Top Esports,Fnatic,1,0,16,6,Top Esports,10,...,273,38,47,32,91,104,53.6,46.5,60.3,39.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,75,28,17,0,3,102,4,4,0,...,20490,19446,8566,11505,8993,19849,26927,11991,9278,12366

GAME 4
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,26:48,v10.19,Fnatic,Top Esports,0,1,13,18,Fnatic,5,...,209,25,25,28,66,76,52.2,47.8,53.7,46.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,86,4,4,1,0,95,4,4,0,...,21741,13448,17026,14576,22340,21240,23745,10703,14422,16549

GAME 5
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,25:22,v10.19,Fnatic,Top Esports,0,1,4,13,Top Esports,0,...,257,34,36,37,74,77,44.4,55.6,49.2,50.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,119,0,1,0,9,77,9,8,0,...,16396,22773,12847,6322,10015,16183,19221,10292,9451,6005

Suning vs JD Gaming 2020-10-16 https://gol.gg/game/stats/27112/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="8a5236c2-6e29-440e-b239-0757243edf36")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="9af818ab-a003-48e8-b5e6-c3c80dfd96bf")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="f09e6435-675a-47cd-9b5e-33f13bf4a31f")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="02b42396-5a1e-4ec1-90c1-fae4bca1416c")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,38:37,v10.19,Suning,JD Gaming,0,1,13,20,Suning,5,...,291,41,65,68,157,117,43,57,49.4,50.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,161,8,16,0,0,149,18,18,0,...,31508,31662,27836,13632,18326,48318,37056,17976,16098,20683

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,26:49,v10.19,Suning,JD Gaming,1,0,26,8,Suning,7,...,239,48,45,55,121,81,53.1,46.9,58.2,41.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,106,12,4,0,1,106,6,0,0,...,17052,17106,8616,7713,10242,27508,24667,17392,9765,14334

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:52,v10.19,JD Gaming,Suning,0,1,7,17,Suning,1,...,306,48,86,83,133,178,48.2,51.8,42.4,57.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,111,4,25,0,21,92,5,24,0,...,30201,26969,16539,11033,14490,14569,29715,14074,13588,12269

GAME 4
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,26:58,v10.19,JD Gaming,Suning,0,1,7,13,JD Gaming,5,...,274,31,51,46,90,114,52.9,47.2,59.3,40.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,139,0,0,0,1,84,9,13,0,...,22690,15640,13278,10210,10914,19984,20360,7580,9462,10198

DWG vs DragonX 2020-10-15 https://gol.gg/game/stats/27122/page-summary/
summary
[<selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="62542274-46f9-47c9-bea8-107c7a446f69")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="c177e2b0-a453-41a4-b3df-56b0b350e5e6")>, <selenium.webdriver.remote.webelement.WebElement (session="6d9e043d323d3157c35f48e0601e4d7b", element="40f82a50-22e6-484d-bc08-e7761a15549b")>]
GAME 1
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,38:14,v10.19,DAMWON Gaming,DragonX,1,0,9,3,DAMWON Gaming,11,...,336,41,75,66,143,152,52.1,47.9,56.7,43.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,142,37,18,0,22,120,16,27,0,...,18009,19765,10284,17406,14698,22128,26544,9303,15464,11878

GAME 2
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:14,v10.19,DragonX,DAMWON Gaming,0,1,7,12,DragonX,3,...,362,52,53,72,160,124,49.5,50.5,45.9,54.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,151,8,11,0,20,115,9,40,0,...,18136,29980,18278,16551,17448,24627,21068,14687,16663,10439

GAME 3
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,25:48,v10.19,DragonX,DAMWON Gaming,0,1,7,21,DragonX,2,...,212,36,41,40,84,96,46.3,53.7,41.5,58.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,91,9,2,0,2,90,26,8,0,...,26318,20802,7293,13469,19136,27034,22849,8274,11481,13550

DragonX vs Top Esports 2020-10-11 https://gol.gg/game/stats/27092/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,38:43,v10.19,DragonX,Top Esports,0,1,3,8,Top Esports,4,...,373,25,53,87,158,110,51.2,48.8,46.7,53.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,136,15,18,0,1,131,29,30,3,...,37075,31625,17750,18151,16084,23509,21235,12670,14946,6133

UOL vs FlyQuest 2020-10-11 https://gol.gg/game/stats/27091/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:01,v10.19,Unicorns Of Love,FlyQuest,0,1,8,23,FlyQuest,1,...,254,22,39,42,103,90,44.2,55.8,42.4,57.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,108,5,4,0,1,104,23,8,0,...,15099,18414,19874,10637,10891,28124,21958,14916,10320,12604

Top Esports vs FlyQuest 2020-10-11 https://gol.gg/game/stats/27090/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:52,v10.19,Top Esports,FlyQuest,0,1,6,16,FlyQuest,2,...,328,27,52,54,104,107,44.2,55.8,45.6,54.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,106,10,19,0,0,104,20,16,0,...,23639,16522,15167,15138,8001,16876,26257,10127,10436,12682

DragonX vs UOL 2020-10-11 https://gol.gg/game/stats/27089/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:26,v10.19,DragonX,Unicorns Of Love,1,0,24,7,Unicorns Of Love,10,...,306,51,72,59,157,122,53,47,62.4,37.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,107,36,16,0,8,78,5,15,0,...,34228,21436,12688,16344,12339,25284,34362,22151,11804,16796

UOL vs Top Esports 2020-10-11 https://gol.gg/game/stats/27088/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,26:59,v10.19,Unicorns Of Love,Top Esports,0,1,3,25,Top Esports,1,...,232,6,26,31,64,69,45.3,54.7,46,54

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,80,20,0,0,1,90,8,8,0,...,16270,21299,14359,10979,13568,27494,19812,10983,19689,5861

FlyQuest vs DragonX 2020-10-11 https://gol.gg/game/stats/27087/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:32,v10.19,FlyQuest,DragonX,0,1,4,15,DragonX,2,...,273,69,55,52,89,128,48.5,51.5,44.1,55.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,105,12,5,0,10,118,7,4,0,...,19877,18857,13210,12312,14062,12777,28682,13138,10979,9506

GEN vs Fnatic 2020-10-10 https://gol.gg/game/stats/27086/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,23:08,v10.19,Gen.G eSports,Fnatic,1,0,14,4,Fnatic,10,...,193,32,33,45,90,57,50.7,49.3,42.7,57.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,80,12,8,0,0,113,1,4,0,...,17530,18906,8150,5314,7319,11556,12133,7907,6676,11271

LGD Gaming vs TSM 2020-10-10 https://gol.gg/game/stats/27085/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,37:44,v10.19,LGD Gaming,TSM,1,0,9,9,LGD Gaming,9,...,356,42,71,91,186,129,52.1,47.9,56.1,43.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,119,29,29,0,1,142,8,17,0,...,29879,29975,15646,7545,16703,32639,25990,19959,15521,17994

Fnatic vs LGD Gaming 2020-10-10 https://gol.gg/game/stats/27084/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:17,v10.19,Fnatic,LGD Gaming,1,0,22,9,Fnatic,9,...,210,28,36,32,78,80,48.3,51.7,54.7,45.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,10,108,8,13,0,7,109,8,10,0,...,19739,25166,7261,10247,10955,25542,17287,10478,9350,10543

TSM vs GEN 2020-10-10 https://gol.gg/game/stats/27083/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,39:04,v10.19,TSM,Gen.G eSports,0,1,15,17,TSM,6,...,320,28,62,50,126,153,59,41,61.3,38.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,17,85,48,18,0,1,93,20,23,0,...,32664,37238,19283,19378,13314,42298,23403,14886,16882,21611

LGD Gaming vs GEN 2020-10-10 https://gol.gg/game/stats/27082/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:22,v10.19,LGD Gaming,Gen.G eSports,0,1,16,19,Gen.G eSports,7,...,297,34,61,77,143,129,50,50,45.8,54.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,19,87,13,24,0,23,87,24,9,0,...,25712,28161,14848,13790,15613,30261,27204,18543,13945,15135

Fnatic vs TSM 2020-10-10 https://gol.gg/game/stats/27081/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,25:35,v10.19,Fnatic,TSM,1,0,17,3,Fnatic,8,...,245,22,29,24,71,74,52.8,47.2,44.8,55.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,110,12,0,0,0,139,7,6,0,...,17225,13856,6571,6037,13140,17205,23455,16848,8541,7717

JD Gaming vs DWG 2020-10-09 https://gol.gg/game/stats/27080/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,37:01,v10.19,JD Gaming,DAMWON Gaming,1,0,25,18,JD Gaming,9,...,315,48,67,61,170,133,49.8,50.2,59.4,40.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,19,120,10,18,0,4,105,10,19,0,...,30048,29023,20626,8268,12833,29073,22760,23598,14877,20698

PSG Talon vs Rogue 2020-10-09 https://gol.gg/game/stats/27079/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:33,v10.19,PSG Talon,Rogue,1,0,13,4,Rogue,9,...,200,26,59,31,93,115,46.2,53.9,50.6,49.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,88,9,19,0,4,112,16,2,0,...,20242,16647,6903,6548,5895,21099,23145,9561,13409,12933

JD Gaming vs PSG Talon 2020-10-09 https://gol.gg/game/stats/27078/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,26:48,v10.19,JD Gaming,PSG Talon,0,1,1,11,PSG Talon,3,...,254,41,33,44,77,72,49.1,50.9,52.5,47.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,126,0,8,0,8,79,10,16,4,...,10684,15846,12860,9398,4172,20945,19195,10793,6531,5116

DWG vs Rogue 2020-10-09 https://gol.gg/game/stats/27077/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,23:46,v10.19,DAMWON Gaming,Rogue,1,0,22,8,Rogue,9,...,188,30,25,12,56,75,56.5,43.5,56.4,43.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,62,8,0,0,0,76,3,3,1,...,15892,16741,10092,8339,10193,18296,22187,11479,9221,11539

Rogue vs JD Gaming 2020-10-09 https://gol.gg/game/stats/27076/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,31:22,v10.19,Rogue,JD Gaming,0,1,13,24,Rogue,2,...,283,52,35,60,121,86,46.4,53.6,45.9,54.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,128,8,5,0,9,94,19,28,0,...,30633,21298,11172,16047,15114,22151,33818,24686,5918,17106

PSG Talon vs DWG 2020-10-09 https://gol.gg/game/stats/27075/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:27,v10.19,PSG Talon,DAMWON Gaming,0,1,4,14,PSG Talon,2,...,293,44,47,55,103,119,46.3,53.7,45.1,54.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,107,10,5,0,8,99,13,15,0,...,26250,21218,12765,9967,17172,35527,18026,17813,8876,11442

G2 Esports vs Suning 2020-10-08 https://gol.gg/game/stats/27106/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,44:07,v10.19,Suning,G2 Esports,1,0,22,21,G2 Esports,11,...,314,68,109,89,187,188,51.3,48.7,57,43

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,9,132,16,18,0,0,118,29,14,0,...,36511,26658,25921,20339,21854,47709,35086,20145,20951,28497

Suning vs G2 Esports 2020-10-08 https://gol.gg/game/stats/27074/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,23:08,v10.19,Suning,G2 Esports,1,0,17,4,Suning,9,...,203,26,26,46,89,64,49.7,50.3,45.9,54.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,3,72,12,15,0,6,94,10,8,0,...,13975,19591,5611,8058,8497,21958,14507,14904,11884,8745

Team Liquid vs MCX 2020-10-08 https://gol.gg/game/stats/27073/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:40,v10.19,Team Liquid,Machi E-Sports,1,0,22,6,Team Liquid,10,...,246,53,50,54,111,128,67.2,32.8,72.1,27.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,88,12,4,0,0,62,0,3,0,...,21720,24861,9552,9891,11573,19896,21331,22578,12377,12263

Suning vs Team Liquid 2020-10-08 https://gol.gg/game/stats/27072/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:32,v10.19,Suning,Team Liquid,0,1,7,23,Team Liquid,3,...,301,50,55,54,122,127,52.7,47.3,52.9,47.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,161,7,4,0,4,132,4,4,0,...,20182,24757,16450,15743,18171,14370,28041,35974,14025,11241

G2 Esports vs MCX 2020-10-08 https://gol.gg/game/stats/27071/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:21,v10.19,G2 Esports,Machi E-Sports,1,0,17,9,G2 Esports,9,...,272,33,48,47,135,100,49.2,50.8,50.8,49.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,120,8,13,0,2,108,17,20,0,...,25247,24934,14200,11964,15714,33328,24107,10741,14047,18406

MCX vs Suning 2020-10-08 https://gol.gg/game/stats/27070/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,27:57,v10.19,Machi E-Sports,Suning,0,1,6,21,Suning,0,...,280,38,59,46,82,133,44.1,55.9,38.8,61.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,90,12,8,0,11,124,12,8,0,...,13939,24981,12578,10434,13625,25960,17923,18556,8604,8533

Team Liquid vs G2 Esports 2020-10-08 https://gol.gg/game/stats/27069/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,29:11,v10.19,Team Liquid,G2 Esports,0,1,3,19,G2 Esports,0,...,298,29,55,50,91,133,47.5,52.5,41.1,58.9

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,109,15,3,0,13,91,17,20,0,...,11292,24613,7560,14131,15633,17319,21639,17602,5958,12698

TSM vs LGD Gaming 2020-10-06 https://gol.gg/game/stats/27068/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:54,v10.19,TSM,LGD Gaming,0,1,10,21,LGD Gaming,3,...,287,45,57,65,151,127,52.5,47.5,48.9,51.1

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,124,24,18,0,25,106,30,16,0,...,21325,20709,18098,19427,15322,30776,23399,10447,15712,13002

Fnatic vs GEN 2020-10-06 https://gol.gg/game/stats/27067/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,27:50,v10.19,Fnatic,Gen.G eSports,1,0,17,9,Fnatic,7,...,239,23,48,26,80,107,50,50,50.8,49.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,108,17,6,0,5,109,17,8,0,...,19504,12913,7992,8057,11421,24991,19228,7968,10726,6876

Top Esports vs UOL 2020-10-06 https://gol.gg/game/stats/27066/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:34,v10.19,Top Esports,Unicorns Of Love,1,0,27,15,Unicorns Of Love,11,...,242,33,49,36,121,101,58.8,41.2,61.8,38.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,19,88,25,0,0,0,92,4,17,0,...,22730,28413,18358,20024,21868,22024,30791,14221,15689,17098

DragonX vs FlyQuest 2020-10-06 https://gol.gg/game/stats/27065/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:00,v10.19,DragonX,FlyQuest,1,0,13,6,FlyQuest,11,...,243,22,45,42,86,94,57.3,42.7,65.8,34.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,106,16,17,0,3,63,21,1,0,...,26710,21927,10110,11476,6789,28951,18090,10719,14515,13335

Suning vs MCX 2020-10-06 https://gol.gg/game/stats/27064/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:29,v10.19,Suning,Machi E-Sports,1,0,14,9,Machi E-Sports,9,...,352,45,61,63,161,115,60,40,67.8,32.2

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,118,17,22,0,8,66,25,16,0,...,27321,31391,9004,15418,12553,25796,27424,18673,13486,9572

G2 Esports vs Team Liquid 2020-10-06 https://gol.gg/game/stats/27063/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:27,v10.19,G2 Esports,Team Liquid,0,1,11,24,Team Liquid,3,...,341,55,57,72,144,104,45,55,51.7,48.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,9,103,21,24,1,1,102,16,19,0,...,33679,28005,19736,13305,21415,26912,20510,13785,14249,22162

Top Esports vs DragonX 2020-10-05 https://gol.gg/game/stats/27062/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:10,v10.19,Top Esports,DragonX,1,0,15,9,DragonX,7,...,258,46,60,51,127,117,48.6,51.4,51.2,48.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,140,16,12,0,13,107,13,24,0,...,28146,23092,16719,13508,15961,13055,30219,13876,16453,13377

FlyQuest vs UOL 2020-10-05 https://gol.gg/game/stats/27061/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,36:38,v10.19,FlyQuest,Unicorns Of Love,1,0,16,18,Unicorns Of Love,9,...,223,39,64,47,117,126,51.6,48.4,60.2,39.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,95,40,36,0,0,106,25,6,0,...,45841,31636,12815,9050,10905,34755,27034,18771,19291,24812

JD Gaming vs Rogue 2020-10-05 https://gol.gg/game/stats/27060/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,30:18,v10.19,JD Gaming,Rogue,1,0,21,8,JD Gaming,9,...,293,29,57,49,120,98,46.4,53.6,48.7,51.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,117,5,15,0,0,131,12,14,0,...,28004,23214,12822,6544,9368,21602,23114,14308,15316,12580

DWG vs PSG Talon 2020-10-05 https://gol.gg/game/stats/27059/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,28:00,v10.19,DAMWON Gaming,PSG Talon,1,0,15,7,DAMWON Gaming,10,...,196,36,41,37,83,83,52.4,47.6,59.6,40.4

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,97,31,14,0,1,91,20,6,0,...,16457,14114,6668,9277,9735,14623,19902,11013,11176,11706

Team Liquid vs Suning 2020-10-05 https://gol.gg/game/stats/27058/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,32:03,v10.19,Team Liquid,Suning,0,1,2,12,Suning,1,...,296,32,49,65,107,131,38,62.1,34.5,65.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,79,16,4,0,4,111,0,17,0,...,23513,19173,6021,11894,8575,21780,21422,13215,14109,14297

MCX vs G2 Esports 2020-10-05 https://gol.gg/game/stats/27057/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,38:38,v10.19,Machi E-Sports,G2 Esports,0,1,15,24,G2 Esports,3,...,379,35,84,54,143,176,43.8,56.2,39.5,60.5

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,7,123,20,2,0,4,119,9,50,0,...,28500,23735,16290,16628,22970,30878,29495,23162,13820,19882

LGD Gaming vs Fnatic 2020-10-04 https://gol.gg/game/stats/27056/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:26,v10.19,LGD Gaming,Fnatic,1,0,12,4,Fnatic,7,...,335,37,77,49,108,120,46.6,53.5,48.4,51.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,5,119,17,22,0,0,140,25,8,0,...,22359,22079,19788,6220,9328,24276,19736,7384,7048,11003

GEN vs TSM 2020-10-04 https://gol.gg/game/stats/27055/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,27:29,v10.19,Gen.G eSports,TSM,1,0,9,6,TSM,9,...,200,38,47,29,99,94,58.4,41.6,52.2,47.8

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,9,94,0,12,0,7,85,21,4,0,...,19477,20977,17678,8400,5709,23981,23282,12096,15635,14283

PSG Talon vs JD Gaming 2020-10-04 https://gol.gg/game/stats/27054/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,23:27,v10.19,PSG Talon,JD Gaming,0,1,3,17,JD Gaming,0,...,230,58,25,42,76,77,42.3,57.8,40.3,59.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,0,90,0,1,0,0,64,16,12,0,...,11240,13451,10353,8370,8780,11729,20302,12329,6410,7579

Rogue vs DWG 2020-10-04 https://gol.gg/game/stats/27053/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,33:57,v10.19,Rogue,DAMWON Gaming,0,1,4,7,DAMWON Gaming,2,...,377,69,53,85,128,133,40.8,59.2,41.7,58.3

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,4,124,12,12,0,0,95,17,36,8,...,17428,28694,14728,11326,9189,6387,15337,19619,8779,12004

G2 Esports vs Suning 2020-10-04 https://gol.gg/game/stats/27052/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,42:50,v10.19,G2 Esports,Suning,1,0,19,21,Suning,7,...,389,40,71,82,158,148,46.6,53.4,49.4,50.6

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,8,149,28,16,0,13,118,41,24,0,...,42436,29468,24250,24707,21764,52342,62847,18275,23280,29135

MCX vs Team Liquid 2020-10-04 https://gol.gg/game/stats/27051/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,37:37,v10.19,Machi E-Sports,Team Liquid,1,0,9,4,Team Liquid,10,...,384,54,74,67,134,142,50.3,49.7,53.3,46.7

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,89,52,23,0,5,130,16,12,0,...,23018,28607,7948,15207,6308,22011,16382,13423,16131,6002

TSM vs Fnatic 2020-10-03 https://gol.gg/game/stats/27050/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,34:11,v10.19,TSM,Fnatic,0,1,5,12,Fnatic,6,...,328,54,57,62,137,131,46.2,53.8,38,62

,cs_in_jung_team_azul_top,cs_in_jung_team_azul_jng,cs_in_jung_team_azul_mid,cs_in_jung_team_azul_adc,cs_in_jung_team_azul_sup,cs_in_jung_team_rojo_top,cs_in_jung_team_rojo_jng,cs_in_jung_team_rojo_mid,cs_in_jung_team_rojo_adc,cs_in_jung_team_rojo_sup,...,damage_taken_azul_top,damage_taken_azul_jng,damage_taken_azul_mid,damage_taken_azul_adc,damage_taken_azul_sup,damage_taken_rojo_top,damage_taken_rojo_jng,damage_taken_rojo_mid,damage_taken_rojo_adc,damage_taken_rojo_sup
0,1,112,8,5,0,1,146,14,3,0,...,21484,21885,6698,11055,10808,23786,18595,7444,5073,8910

GEN vs LGD Gaming 2020-10-03 https://gol.gg/game/stats/27049/page-game/
partido
AHORA SACO ESTADISTICAS DEL GAME

,tiempo,parche,nombre_azul,nombre_rojo,gana_azul,gana_rojo,num_asesinatos_azul,num_asesinatos_rojo,primera_sangre,num_torres_azul,...,css_adc_rojo,css_sup_rojo,wards_destroyed_azul,wards_destroyed_rojo,wards_placed_azul,wards_placed_rojo,jng_share_15_azul,jng_share_15_rojo,jng_share_azul,jng_share_rojo
0,45:28,v10.19,Gen.G eSports,LGD Gaming,1,0,21,17,Gen.G eSports,7,...,315,48,96,101,188,156,47.3,52.7,47.5,52.5

TimeoutException: Message:

In [138]:
# RECUERDA ESTOS ELEMENTOS torneo,part,fecha,

IndentationError: unexpected indent (<ipython-input-138-139b50d442ea>, line 2)

In [ ]:
# PRUEBAS PARA LA CONEXION AL HISTORIALY COGER LA INFORMACIÓN DEL HOVER
# historial="https://matchhistory.na.leagueoflegends.com/en/#match-details/ESPORTSTMNT03/1531511?gameHash=5d31ad80ca220582&tab=overview"
# driver.get(historial)
# from selenium.webdriver.common.action_chains import ActionChains
# punto = driver.find_elements_by_css_selector("circle[cx='709.6774193548387']")[0]
# hover= ActionChains(driver).move_to_element(punto)
# hover.perform()